# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Output files
output_*.pptx
*.docx
*.pdf

# Data files (Exclude all Excel files by default)
*.xlsx
*.xlsm
*.xls

# Whitelist specific template/sample files
!data_template.xlsx
!PPT_Sample_Input_Data.xlsx
!clean_EM.xlsx
!clean_EM_clicks.xlsx
!clean_SMS.xlsx

# Temp
temp_pptx/
.DS_Store
test_output*.pptx
~$*
